{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="main-content-area">
    <div class="container">
        <div class="single-post-wrap page-wrap">
            {{#if @member.paid}}
            <div class="post-head d-flex">
                <div class="header-inner align-self-center">
                    <h1 class="title">{{t "Nice, you're a paid subscriber!"}}</h1>
                    <div class="members-page-subtitile">
                        {{t "Hey! You are currently logged in with"}} <strong>{{@member.email}}</strong>.<br>{{t "You have an active"}} <strong>{{@site.title}}</strong> {{t "account with access to all areas."}} {{t "You're all set, but if you need any help, get in touch with us and we'd be happy to help."}}
                    </div>
                </div>
            </div>
            <div class="post-content m-auto">
               <a href="{{@site.url}}" class="btn btn-primary">{{t "Return to home page"}}</a>
            </div>
            {{else if @member}}
            <div class="post-head d-flex">
                <div class="header-inner align-self-center">
                    <h1 class="title">{{t "Nice, you're a subscriber!"}}</h1>
                    <div class="members-page-subtitile">
                        {{t "Hey! You are currently logged in with"}} <strong>{{@member.email}}</strong>. {{t "You have subscribed to free updates from"}} {{@site.title}}. {{t "Subscribe to paid plan to unlock full access."}}
                    </div>
                </div>
            </div>
            <div class="pricing-table-wrap">
                {{> members/pricing-table-monthly}}
                {{> members/pricing-table-yearly}}
            </div>
            {{else}}
                {{!-- Not logged in: Redirect to signin --}}
                <script>window.location = '{{@site.url}}/signin/';</script>
            {{/if}}
        </div>
    </div>
</div>